* {
    margin: 0px;
    height: 0px;

}
.main-loader{
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    background: white;
    filter: contrast(20);

}
.loader , .loader-fast{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    /* border: 2px solid black; */
    border-radius: 50%; 
 

}
.loader {
    animation: putar 20s linear infinite;
}

.loader-fast{
    animation: putar 5s ease infinite;
}

.loader-fast >div{
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0,1);
    filter: blur(4px);

}

.loader-fast div:nth-child(1){
    top: 47.5px;
    left: 97.5px;
}

.loader-fast div:nth-child(2){
    top: 47.5px;
    left: -12.5px;
}


.loader > div{
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 1);
    filter: blur(2px);



}


.loader > div:nth-child(1){
    top: 50px;
    left: 99.5px;
} 
.loader > div:nth-child(2){
    top: 100px;
    left: 45px;
}     

.loader > div:nth-child(3){
    top: 50px;
    left: -10px;
} 
.loader > div:nth-child(4){
    top: -10px;
    left: 45px;
}  

/* jam 10 */
.loader > div:nth-child(5){
    top:  6px;
    left: 6px;
}
/* jam 2   */
.loader > div:nth-child(6){
    top:  6px;
    left: 84px;
}  
/* jam 4 */
.loader > div:nth-child(7){
    top:  83.5px;
    left: 6px;
}  
/* jam 8 */
.loader > div:nth-child(8){
    top: 87px;
    left: 80px;
}  
@keyframes putar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
